@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400&family=Pacifico&display=swap');

body{
    margin:0px;
    padding:0px;
    font-size:16px;
    font-family: 'Inconsolata', monospace;
}

.logo{
    font-family: 'Pacifico', cursive;
    font-size:74px;
    background: rgb(0,245,255);
    background: linear-gradient(145deg, rgba(0,245,255,1) 0%, rgba(55,109,255,1) 50%, rgba(102,0,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 40px;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
    animation:pulse 10s infinite;
}

@keyframes pulse {
    0% {
        transform:scale(1);
    }
    50% {
        transform:scale(0.97);
    }
    100% {
        transform:scale(1);
    }
}

.hero-head{
    height:100vh;
    width:100%;
    display:flex;
    align-items:center;
    justify-content: center;
    background-image: linear-gradient(to left top, #daeefd, #d7e9ff, #d8e4ff, #ddddff, #e6d5ff);
}

.hero-content{
    text-align:center;
}

.btn-gradient-purple, .btn-gradient-purple:hover, .btn-gradient-purple:visited, .btn-gradient-purple:active{
    color:#daeefd;
    text-decoration: none;
    padding: 10px 20px;
    margin: 10px;
    display: inline-block;
    background: rgb(0,245,255);
    background-image: linear-gradient(to right bottom, #39aaff, #0093ff, #0078ff, #2855ff, #6e00ff);
    transition:all 0.5s ease-in-out;
    transform:scale(1);
    border: 0px;
}

.btn-gradient-purple-alternative{
    background-image: linear-gradient(to left top, #daeefd, #98d0ff, #69acff, #6980ff, #903fff);
}

.btn-gradient-purple:hover{
    transform:scale(1.2);
}

.underlined{
    font-weight:bold;
    color:#903fff;
    position:relative;
}

a.underlined:hover:after{
    transform:scale(0.6);
}

.a.underlined:after{
    transform:scale(1);
}

.underlined:after{
    content:"";
    position:absolute;
    left:0px;
    bottom:-6px;
    width:100%;
    height:4px;
    background-image: linear-gradient(to right, #eb4c9f, #e930b0, #df09c6, #ca00e1, #a600ff);
    transition:all 0.5s ease-in-out;
}